--
-- PostgreSQL database dump
--

\restrict UwkLn824nhY11IO03rNYWZS7mAGGCxwC8aotqbn4nukxtAAcaXUCDgeKteKIb5E

-- Dumped from database version 16.11
-- Dumped by pg_dump version 16.11

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: loans; Type: TABLE; Schema: public; Owner: banckload_user
--

CREATE TABLE public.loans (
    amount numeric(19,2) NOT NULL,
    term integer NOT NULL,
    id bigint NOT NULL,
    request_date timestamp(6) without time zone NOT NULL,
    reviewed_at timestamp(6) without time zone,
    reviewed_by bigint,
    updated_at timestamp(6) without time zone NOT NULL,
    user_id bigint NOT NULL,
    rejection_reason character varying(500),
    purpose character varying(1000),
    status character varying(255) NOT NULL,
    CONSTRAINT loans_status_check CHECK (((status)::text = ANY ((ARRAY['PENDING'::character varying, 'APPROVED'::character varying, 'REJECTED'::character varying])::text[]))),
    CONSTRAINT loans_term_check CHECK ((term >= 1))
);


ALTER TABLE public.loans OWNER TO banckload_user;

--
-- Name: loans_id_seq; Type: SEQUENCE; Schema: public; Owner: banckload_user
--

ALTER TABLE public.loans ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.loans_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_roles; Type: TABLE; Schema: public; Owner: banckload_user
--

CREATE TABLE public.user_roles (
    user_id bigint NOT NULL,
    role character varying(255)
);


ALTER TABLE public.user_roles OWNER TO banckload_user;

--
-- Name: users; Type: TABLE; Schema: public; Owner: banckload_user
--

CREATE TABLE public.users (
    enabled boolean NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    id bigint NOT NULL,
    updated_at timestamp(6) without time zone NOT NULL,
    username character varying(50) NOT NULL,
    email character varying(255) NOT NULL,
    full_name character varying(255) NOT NULL,
    password character varying(255) NOT NULL
);


ALTER TABLE public.users OWNER TO banckload_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: banckload_user
--

ALTER TABLE public.users ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: loans; Type: TABLE DATA; Schema: public; Owner: banckload_user
--



--
-- Data for Name: user_roles; Type: TABLE DATA; Schema: public; Owner: banckload_user
--

COPY public.user_roles (user_id, role) FROM stdin;
1	ADMIN
2	USER
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: banckload_user
--



--
-- Name: loans_id_seq; Type: SEQUENCE SET; Schema: public; Owner: banckload_user
--

SELECT pg_catalog.setval('public.loans_id_seq', 8, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: banckload_user
--

SELECT pg_catalog.setval('public.users_id_seq', 4, true);


--
-- Name: loans loans_pkey; Type: CONSTRAINT; Schema: public; Owner: banckload_user
--

ALTER TABLE ONLY public.loans
    ADD CONSTRAINT loans_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: banckload_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: banckload_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: banckload_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: loans fk3rj2hs5xjqwlux6xi9mtqrnt7; Type: FK CONSTRAINT; Schema: public; Owner: banckload_user
--

ALTER TABLE ONLY public.loans
    ADD CONSTRAINT fk3rj2hs5xjqwlux6xi9mtqrnt7 FOREIGN KEY (reviewed_by) REFERENCES public.users(id);


--
-- Name: loans fk6xxlcjc0rqtn5nq28vjnx5t9d; Type: FK CONSTRAINT; Schema: public; Owner: banckload_user
--

ALTER TABLE ONLY public.loans
    ADD CONSTRAINT fk6xxlcjc0rqtn5nq28vjnx5t9d FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_roles fkhfh9dx7w3ubf1co1vdev94g3f; Type: FK CONSTRAINT; Schema: public; Owner: banckload_user
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT fkhfh9dx7w3ubf1co1vdev94g3f FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict UwkLn824nhY11IO03rNYWZS7mAGGCxwC8aotqbn4nukxtAAcaXUCDgeKteKIb5E

